name: MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt
    
    - name: Run Unit Tests
      run: |
        python -m pytest tests/

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        # We still need the secret for the password login
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # HARDCODE YOUR USERNAME HERE (Replace 'kullu2603' if different)
        tags: kullu26/mlops-catdog:latest

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    
    - name: Pull and Run Container
      run: |
        # HARDCODE USERNAME HERE TOO
        docker run -d -p 8000:8000 --name mlops-container kullu26/mlops-catdog:latest
        sleep 15 

    - name: Smoke Test (Health Check)
      run: |
        curl --fail http://localhost:8000/health || exit 1
        echo "Smoke test passed!"
